apparmor==2.12
appdirs==1.4.3
apt-clone==0.2.1
apt-xapian-index==0.47
apturl==0.5.2
arrow==0.15.7
asgiref==3.2.7
asn1crypto==0.24.0
attrs==19.1.0
backcall==0.1.0
beautifulsoup4==4.6.0
bleach==3.1.0
Brlapi==0.6.6
certifi==2018.1.18
chardet==3.0.4
chrome-gnome-shell==0.0.0
command-not-found==0.3
cryptography==2.1.4
cupshelpers==1.0
cycler==0.10.0
decorator==4.4.0
defer==1.0.6
defusedxml==0.6.0
distlib==0.3.0
distro==1.5.0
distro-info===0.18ubuntu0.18.04.1
dj-database-url==0.5.0
Django==3.0.5
django-crispy-forms==1.9.0
django-heroku==0.3.1
docutils==0.14
entrypoints==0.3
filelock==3.0.12
geographiclib==1.50
geopy==2.0.0
gunicorn==20.0.4
H5PP==0.1.9
html5lib==0.999999999
httplib2==0.9.2
idna==2.6
img2pdf==0.2.3
importlib-metadata==1.6.0
importlib-resources==1.5.0
IPTCInfo3==2.1.4
ipykernel==5.1.0
ipython==7.5.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
isodate==0.6.0
jedi==0.13.3
Jinja2==2.10.1
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
keyring==10.6.0
keyrings.alt==3.0
language-selector==0.1
launchpadlib==1.10.6
lazr.restfulclient==0.13.5
lazr.uri==1.0.3
LibAppArmor==2.12
louis==3.5.0
lxml==4.2.1
macaroonbakery==1.1.3
Mako==1.0.7
Markdown==2.6.9
Markups==2.0.1
MarkupSafe==1.1.1
matplotlib==2.1.1
meld==3.18.0
mistune==0.8.4
natsort==7.0.1
nbconvert==5.5.0
nbformat==4.4.0
netifaces==0.10.4
nltk==3.3
notebook==5.7.8
numpy==1.14.5
oauth==1.0.1
ocrmypdf==6.1.2
olefile==0.45.1
PAM==0.4.2
pandas==0.24.2
pandocfilters==1.4.2
paperwork==1.3.1
paperwork-backend==1.3.1
parso==0.4.0
pbr==5.4.5
pexpect==4.7.0
pickleshare==0.7.5
piexif==1.1.3
Pillow==5.1.0
prometheus-client==0.6.0
prompt-toolkit==2.0.9
protobuf==3.0.0
psycopg2==2.8.5
psycopg2-binary==2.8.5
ptyprocess==0.6.0
PyAudio==0.2.11
pycairo==1.16.2
pycountry==20.7.3
pycrypto==2.6.1
pycups==1.9.73
pycurl==7.43.0.1
pydeepl==0.10
pyenchant==2.0.0
Pygments==2.4.0
pygobject==3.26.1
PyICU==1.9.8
pymacaroons==0.13.0
PyNaCl==1.1.2
pyocr==0.7.2
pyparsing==2.2.0
PyPDF2==1.26.0
pypillowfight==0.3.0
pyRFC3339==1.0
pyrsistent==0.15.1
python-apt==1.6.5+ubuntu0.3
python-dateutil==2.8.0
python-debian==0.1.32
python-Levenshtein==0.12.0
pytz==2019.3
pyxdg==0.25
PyYAML==3.12
pyzmq==18.0.1
qtconsole==4.4.4
rdflib==5.0.0
reportlab==3.4.0
requests==2.18.4
requests-unixsocket==0.1.5
roman==2.0.0
ruffus==2.6.3
scour==0.36
SecretStorage==2.3.1
Send2Trash==1.5.0
simplebayes==1.5.8
simplejson==3.13.2
six==1.14.0
SPARQLWrapper==1.8.5
sqlparse==0.3.1
ssh-import-id==5.7
stdeb==0.9.1
stevedore==1.32.0
supervisor==4.1.0
system-service==0.3
systemd-python==234
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
textile==3.0.0
torch==0.4.0
torchtext==0.2.3
torchvision==0.2.1
tornado==6.0.2
tqdm==4.23.4
traitlets==4.3.2
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
unpyclib==0.8.1
urllib3==1.22
usb-creator==0.3.3
virtualenv==20.0.18
virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4
wadllib==1.3.2
wcwidth==0.1.7
webencodings==0.5.1
whitenoise==5.2.0
Whoosh==2.7.4
widgetsnbextension==3.4.2
xdiagnose==3.8.8
xkit==0.0.0
zipp==3.1.0
zope.interface==4.3.2
